body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main-title {
   position: fixed;
   z-index: 99999;
   left: 80px;
 }

aside {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 250px;
  display: grid;
  align-items: start;
}

.category-holder {
  background-color: #fff;
  border-left: 1px solid #cecece;
  margin: 30px 20px 0 0;
  z-index: 99999;
  padding-left: 30px;
}

.category-holder div {
  padding: 10px 0;
}

img {
  max-width: 100%;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.geoikonica {
  width: 35px;
  position: absolute;
  bottom: 20px;
  z-index: 9999;
  right: 20px;
  cursor: pointer;
}